.WRItem {
  .WRItem__title {
    font-size: 1.25rem;
    color: rgb(134, 134, 134);
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;

    .WRItem__underline {
      border: 1px solid gray;
      height: 0.2rem;
      background-color: gray;
      width: 100%;
    }
  }

  .WRItem__text {
    font-family: sans-serif;
    color: rgb(173, 173, 173);
    line-height: 1.2;
    text-align: center;
  }
}